absl-py==1.0.0
beautifulsoup4==4.11.1
bertopic==0.10.0
blis==0.7.7
bpemb==0.3.3
cachetools==5.0.0
catalogue==2.0.7
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
cloudpickle==2.0.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.28
dataclasses==0.6
datasets
Deprecated==1.2.13
dill==0.3.3
faiss-cpu==1.7.2
filelock==3.0.12
flair
flatbuffers==2.0
fonttools==4.31.1
fsspec==2021.5.0
ftfy==6.1.1
future==0.18.2
gdown==4.4.0
gensim==3.8.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
grpcio==1.43.0
hdbscan==0.8.28
huggingface-hub==0.5.1
hyperopt==0.2.7
idna==2.10
importlib-metadata
Janome==0.4.2
Jinja2==3.1.2
joblib==1.0.1
jsonlines==2.0.0
jsonpickle==2.0.0
kiwisolver==1.4.0
konoha
langcodes==3.3.0
langdetect==1.0.9
lexical-diversity==0.1.1
lightgbm==3.3.2
llvmlite==0.38.0
lxml==4.8.0
Markdown
MarkupSafe==2.1.1
matplotlib==3.5.1
mkl-fft==1.3.0
mkl-random
mkl-service
mpld3==0.3
multiprocess==0.70.11.1
murmurhash==1.0.7
networkx==2.6.3
nltk==3.7
nmslib==2.1.1
numba==0.55.1
numpy==1.22.4
oauthlib==3.2.0
olefile==0.46
onnxruntime==1.11.1
overrides==3.1.0
packaging==20.9
pandas==1.2.4
pathy==0.6.1
Pillow==8.2.0
pip==21.0.1
plotly==5.7.0
preshed==3.0.6
protobuf==3.19.4
psutil==5.9.1
py-readability-metrics==1.4.5
py4j==0.10.9.5
pyarrow==4.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pydantic==1.8.2
pyjnius==1.4.1
pynndescent==0.5.6
pyparsing==2.4.7
pyserini==0.16.1
PySocks==1.7.1
python-dateutil==2.8.1
pytrec-eval==0.5
pytz==2021.1
PyYAML==5.4.1
regex==2022.4.24
requests==2.25.1
requests-oauthlib==1.3.1
rsa==4.8
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.2
segtok==1.5.11
sentence-transformers==1.2.1
sentencepiece
setuptools
six==1.16.0
sklearn==0.0
smart-open==5.2.1
soupsieve==2.3.2.post1
spacy==3.3.0
spacy-alignments==0.8.5
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacytextblob==4.0.0
sqlitedict==2.0.0
srsly==2.4.3
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.4.1
textblob==0.15.3
thinc==8.0.15
threadpoolctl==2.2.0
tokenizers==0.12.1
torch==1.7.0
torchaudio
torchvision==0.9.1
tqdm==4.49.0
transformers==4.18.0
typer==0.4.1
typing-extensions==3.7.4.3
umap-learn==0.5.3
urllib3==1.26.4
wasabi==0.9.1
wcwidth==0.2.5
Werkzeug==2.0.3
wheel==0.36.2
wordcloud==1.8.1
wrapt==1.14.1
xxhash==2.0.2
zipp==3.7.0
